<!-- header.html -->
<nav>
    <div class="logo">
        <a href="index.html"><img src="path/to/logo.png"></a>
    </div>
    <ul>
        <li><a href="../about.html">About</a></li>
        <li><a href="../marine_life.html">Marine Life</a></li>
        <li><a href="../reptiles.html">Reptiles</a></li>
        <li><a href="../birds.html">Birds</a></li>
        <li><a href="../greenery.html">Greenery</a></li>
        <li><a href="../surfing.html">Surfing</a></li>
        <li><a href="../volcanoes.html">Volcanoes</a></li>
        <li><a href="../contact.html">Contact</a></li>
      
      <!-- Mobile Menu Button -->
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
